name: Build

on:
  push:
    branches-ignore:
      - gh-pages
    paths-ignore:
      - '*.md'
      - 'demo/**'
  pull_request:
    branches-ignore:
      - gh-pages
    paths-ignore:
      - '*.md'
      - 'demo/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.13'
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
    - name: Install dependencies
      run: bun i --frozen-lockfile
    - name: Prepare
      run: python prepare/main.py
    - name: Test
      run: bun run test
    - name: Build documentation
      run: bun run doc:html
