name: Test bunx npm

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: oven-sh/setup-bun@v2
      with:
        bun-version: latest
    - name: Test bunx npm
      run: bunx npm --version
